* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top,  #a34dff, #ff6ec4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.button {
    border-radius: 4px;
    background: linear-gradient(135deg, #a34dff, #ff6ec4);
    padding: 10px 22px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.button:hover {
    transition: all 0.2s ease-in-out;
    background: linear-gradient(135deg, #ff6ec4, #a34dff);
    color: #fff;
}

.navbar__links:hover {
    color: #ff6ec4;
    transition: all 0.3s ease;
}



@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 24px;
    }
    

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 16px 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: 1;
    }
    
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        display: flex;
        justify-content: start;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    
}

/* Hero Section CSS */

.main {
    background: #131313;
    height: 100vh;
    max-height: 1100px;
    position: relative;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    align-items: center;
    background: linear-gradient(135deg, #131313 0%, #a34dff 100%);
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content h1 {
    font-size: 4rem;
    background-color: #a34dff;
    background-image: linear-gradient(to top,  #a34dff, #ff6ec4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 2rem;
    background-color: #a34dff;
    background-image: linear-gradient(to top,  #b721ff, #21d4fd);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    padding: 14px 32px;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-top: 2rem;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn:hover {
    background-image: linear-gradient(to top, #21d4fd 0%, #b721ff 100%);
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive */

@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 0 auto;
        width: 100%;
        height: 90vh;
    }

    .main__content {
        margin-bottom: 4rem;
        text-align: center;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        margin: 2.5rem 0;
        padding: 12px 36px;
    }
}

/* Services section css */

.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 1300px;
    position: relative;
    overflow: hidden;
}

.services h1 {
    font-size: 3rem;
    background-color: #a34dff;
    background-image: linear-gradient(to top,  #a34dff, #ff6ec4);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0 50px;
    width: 100%;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pic4.jpg');
}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
    font-size: 1.5rem;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 4px;
    background: #a34dff;
    cursor: pointer;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
}

.services__card:hover {
    transform: scale(1.075);
    transition: all 0.35s;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and  {
    
}



